# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
ENV/

# Distribution and packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# Logs and database files
*.log
*.sql
*.sqlite3

# Test coverage reports
htmlcov/
.tox/
.nox/
.cache/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
